.gallery{
	display:none;
	overflow:hidden;
}

.gallery-section.title, .gallery-section.active, .gallery-section.open{
	display:block;
}

.gallery-section.open .gallery{
	display:block;
}

nav a.visited{
	color:green;
}

nav a.active{
	color:red;
}