<!doctype html>
<html lang="en">
<head>
	<meta charset="utf-8">

	<title>infinite custom plugin</title>

	<link rel="stylesheet" href="css/normalize.css">
	<link rel="stylesheet" href="css/styles.css">
	<link rel="stylesheet" href="css/jq_infinite.css">
</head>

<script type="text/template" id="nav-link">
	<li><a href="#<%= id %>"><%= title %></a></li>
</script>

<script type="text/template" id="gallery-section">
	<section class="gallery-section" id="<%= id %>">
		<h2><a href="#<%= id %>"><%= title %></a></h2>
		<div class="gallery"></div>
	</section>
</script>

<script type="text/template" id="gallery-item">
	<figure class="photo">
		<img src="<%= srcThumb %>" alt="<%= srcThumb %>">
	</figure>
</script>

<body>
<div class="container" data-items="15" data-photos="20">
	<section class="main"></section>
	
	<nav class="nav sticky">
		<ul></ul>
	</nav>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
<script src="http://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.3.3/underscore-min.js"></script>
<script src="js/vendor/jquery.scrollTo-1.4.2-min.js"></script>
<script src="js/templating.js"></script>
<script src="js/main.js"></script>

</body>

</html>